!!!
%html
  %head
    %title Tapioca Collective
    = stylesheet_link_tag '/bootstrap/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'
  %body
    .container
      .row
        #logo.span5
          %h1= image_tag '/images/logo.png', alt: 'Tapioca Collective'
        .main.span7
          = yield
    