.hero-unit
  %h1
    Ben Shymkiw
    %small Webstuff Maker
  .row
    .span3
      ben@t.apio.ca
    .span3
      248.881.1302

%h2 Objective
To join a team of talented professionals dedicated to finding, evaluating and using the evolving best-practices of our peers to produce superior web applications.

%hr
%h2 Technological Familiarity
.row
  .span3
    %h4 Ruby
    %ul
      %li Ruby on Rails
      %li Sinatra
      %li Gem ecosystem
      %li MiniTest/Rspec
  .span3
    %h4 Javascript
    %ul
      %li Angular
      %li jQuery
      %li Coffeescript
      %li Jasmine
  .span3
    %h4 HTML5/CSS3
    %ul
      %li Bootstrap
      %li HAML
      %li Sass
  .span3
    %h4 Multimedia
    %ul
      %li Photo manipulation and analysis
      %li Video/audio transcoding
      %li Audio generation
.row
  .span3
    %h4 Productivity Tools
    %ul
      %li Git workflow
      %li Github
      %li Hubot automation
      %li Kanban/Scrum tools and practices
      %li Cucumber/Gherkin
  .span6
    %h4 Datastores
    %ul
      %li
        Relational databases
        %small (MySQL, Posgres, SQLite)
      %li
        NoSQL
        %small (Mongo, Couch)
      %li
        3rd-party APIs
        %small (Facebook, Twitter, Google Maps, etc.)

%hr
%h2 Work Experience
.row
  .span6
    %strong Freelance Web Developer
  .span3
    Portland, Oregon
  .span3
    2006 - Present
%br
.row
  .span3
    %strong Director of Technology
  .span3
    AthletesVideo
  .span3
    Toronto, Ontario
  .span3
    2006 - 2009
%br
.row
  .span3
    %strong Technical Writer
  .span3
    Creative Document Solutions
  .span3
    Southfield, Michigan
  .span3
    2003 - 2005

%hr
%h2 Other Interests
.row
  .span4
    %ul
      %li Hiking
      %li Skiing
      %li Paddling
  .span4
    %ul
      %li Music
      %li Poetry
      %li Storytelling
  .span4
    %ul
      %li Renewable energy generation
      %li Hardware hacking
      %li Home automation

%br