.container {
  margin-top: 96px;
}

.person {
  display: block;
  margin-bottom: 96px;
  color: #333;
}
.person:hover {
  text-decoration: none;
}
.person:hover .bio {
  color: #fcb040;
  font-weight: bold;
}
