.container {
  margin-top: 96px;
}

.person {
  display: block;
  margin-bottom: 96px;
  color: #333;
  &:hover {
    text-decoration: none;
    .bio {
      color: #fcb040;
      font-weight: bold;
    }
  }
}